<%- include partials/header %>



<section id="portfolio" class="section">
  <div class="container">
    <div class="row">
      <% Object.values(htmlWebpackPlugin.options.data.projects).forEach(item => { %>
        <div class="col xl3 l4 m6 s12">
          <a href="<%= item.liveLink %>" class="card-wrapper">
            <div class="card">
              <img src="<%= item.preview %>" alt="<%= item.name %>">
              <div class="card-name"><%= item.name %></div>
            </div>
          </a>
        </div>
      <% }) %>
    </div>
  </div>
</section>



<%- include partials/footer %>